<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Service status</title>
        <% if (process.env.NODE_ENV !== "development") { %><meta http-equiv="refresh" content="60"><% } %>
        <meta name="robots" content="noindex, nofollow">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <style type="text/css">.card-service { min-height: 5.2rem; }</style>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <div class="<%= data.compact ? 'container-fluid' : 'container-md' %> p-3">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="pt-2">Service status</h1>
                    <p>Loaded <time datetime="<%= currentDate.toISOString() %>"  data-time="true"><%= currentDate.toLocaleTimeString() %></time>, reloads every minute.</p>
                </div>
                <div class="col-md-7">
                    <% if (summary.problem) { %>
                        <div class="rounded mt-2 p-3 mb-2 bg-warning text-dark">
                            <h5>
                                Some services report problems.
                                <i class="bi bi-exclamation-circle-fill float-end" style="font-size: 2.8rem;"></i>
                            </h5>
                            <span class="badge text-bg-dark">Total: <%= summary.hosts %></span>
                            <span class="badge text-bg-dark">Problem: <%= summary.problem %></span>
                            <span class="badge text-bg-dark">OK: <%= summary.ok %></span>
                        </div>
                    <% } else { %>
                        <div class="rounded mt-2 p-3 mb-2 bg-success text-white">
                            <h5>
                                Everything is ok.
                                <i class="bi bi-check-circle-fill float-end" style="font-size: 2.8rem;"></i>
                            </h5>
                            <span class="badge text-bg-dark">Total: <%= summary.hosts %></span>
                        </div>
                    <% } %> 
                </div>
            </div>

            <hr>

            <% if (data.compact) { %>
                <div class="row py-3">
                    <div class="col-md-12">
                        <div class="row row-cols-1 row-cols-xl-5 g-3">
                            <% data.hosts.forEach((host) => { %>
                                <div class="col">
                                    <%- include('card', { service: host }) %>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <% if (data.upcoming) { %>
                    <div class="row py-3">
                        <div class="col-md-12">
                            <div class="alert alert-warning">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h2>Planned service</h2>
                                        <p>Things we know about in advance that can cause problems.</p>
                                    </div>
                                    <div class="col-md-9">
                                        <% data.upcoming.forEach((item) => { %>
                                            <div class="mb-3">
                                                <strong><%= item.name %></strong><br>
                                                <div class="mb-1">
                                                    <i class="bi bi-clock"></i>
                                                    <strong data-clock="<%= item.active_since %>"><time datetime="<%= new Date(parseInt(item.active_since*1000)).toISOString() %>"><%= new Date(parseInt(item.active_since*1000)).toLocaleString %></time></strong> &ndash;
                                                    <strong data-clock="<%= item.active_till %>"><time datetime="<%= new Date(parseInt(item.active_till*1000)).toISOString() %>"><%= new Date(parseInt(item.active_till*1000)).toLocaleString %></time></strong>
                                                </div>
                                                <span><%= item.description %></span>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                <% } %>
                <% data.segments.forEach((segment) => { %>
                    <div class="row py-3">
                        <div class="col-md-3">
                            <h2><%= segment.name %></h2>
                            <p><%= segment.description %></p>
                        </div>
                        <div class="col-md-9">
                            <div class="row row-cols-1 row-cols-xl-3 g-3">
                                <% segment.services.forEach((service) => { %>
                                    <div class="col">
                                        <%- include('card', { service: service }) %>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>

            <% if (!data.compact) { %>                
                <hr>
                <div class="row py-3">
                    <div class="col-md-3">
                        <h3>Past problems</h3>
                        <p>Problems that has been reported the last couple of days.</p>
                    </div>
                    <div class="col-md-9">
                        <% if (data.history) { %>
                            <% data.history.filter((f) => f.r_eventid != "0").forEach((item) => { %>
                                <p>
                                    <strong data-clock="<%= item.clock %>"><time datetime="<%= new Date(parseInt(item.clock*1000)).toISOString() %>"><%= new Date(parseInt(item.clock*1000)).toLocaleString %></time></strong><br>
                                    <span><%= item.name %></span><br>
                                    <small><%= data.hosts.find(x => x.key == item.hosts[0].host).display %>, resolved <time datetime="<%= new Date(parseInt(data.history.filter((r_item) => r_item.eventid == item.r_eventid).filter((r_item) => r_item.value == '0')[0].clock*1000)).toISOString() %>"><%= new Date(parseInt(data.history.filter((r_item) => r_item.eventid == item.r_eventid).filter((r_item) => r_item.value == '0')[0].clock*1000)).toLocaleString() %></time></small>
                                </p>
                            <% }); %>
                        <% } else { %>
                            <p>Nothing to report.</p>
                        <% } %>
                    </div>
                </div>
                <hr>
                <div class="row py-3">
                    <div class="col-md-3">
                        <h3>External statuspages</h3>
                        <p>More in-depth information about current status and past incidents for different providers.</p>
                    </div>
                    <div class="col-md-9">
                        <p>
                            <a target="_blank" href="https://driftstorning.chalmers.se/">Chalmers</a><br>
                            Current and planned issues with Chalmers IT services.
                        </p>
                        <p>
                            <a target="_blank" href="https://status.sunet.se/">SUNET</a><br>
                            Eduroam, SWAMID, Zoom, Kaltura, network related issues (campus Internet access).
                        </p>
                        <p>
                            <a target="_blank" href="https://status.ebsco.com/">EBSCO</a><br>
                            EDS, FOLIO etc.
                        </p>
                        <p>
                            <a target="_blank" href="https://resource.status.openathens.net/">OpenAthens</a><br>
                            Resouce updates and issues.
                        </p>
                        <p>
                            <a target="_blank" href="https://status.instructure.com/">Instructure</a><br>
                            Canvas LMS and related.
                        </p>
                        <p>
                            <a target="_blank" href="https://status.zoom.us/">Zoom</a><br>
                            Zoom services.
                        </p>
                        <p>
                            <a target="_blank" href="https://azure.status.microsoft/en-us/status">Azure</a><br>
                            Detailed status for all Microsoft Azure services.
                        </p>
                    </div>
                </div>
            <% } %>

            <hr>
            <footer>
                <small><%= process.env.npm_package_name %> <%= process.env.npm_package_version %></small>
                <small class="float-end"><% if (data.compact) { %><a href="/">Normal</a><% } else { %><a href="/?compact=1">Compact</a><% } %></small>
            </footer>
        </div>
        <script type="text/javascript">var data = <%- JSON.stringify(data); %></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            document.querySelectorAll('time').forEach($e => {
                const date = new Date($e.dateTime)
                console.log($e.onlytime)
                if ($e.dataset.time=="true") {
                    $e.innerHTML = date.toLocaleTimeString()
                } else {
                    $e.innerHTML = date.toLocaleString()
                }
            })
        </script>
    </body>
</html>
